html
	head
		include ios_header
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="/js/constants.js")
		script(src="/js/scripts.js")
		if iso
			script(src="/js/isotope.js")

		style
			@-webkit-keyframes pulse-opacity {
				0% { opacity: 0.45; }
				50% { opacity: 1.0; }
				100% { opacity: 0.45; }
			}

			h1,h2,h3,h4,h5,h6 { 
				padding: 0px;
				margin: 0px;
				font-family: sans-serif;
			}
			#gif-container {
				//height: 800;
				maxHeight: 100%;
				minHeight: 20%;
			}
			.gif-wrapper { 
				position: relative;
				max-width: 250px;
				margin: 5px auto 5px auto;
			}

			.gif {
				max-width: 100%;
				display: block;
			}

			.controls {
				width: 100%;
				height: 25px;
				background: rgba(200,100,30,0.80);
				position: absolute;
				bottom: 0px;
				//float: left;
				//margin: auto auto 10px auto;
			}

			.controls h6 {
				color: #FFF;
				text-align: left;
				text-transform: uppercase;
				line-height: 25px;
				margin: auto 5px auto auto;
			}

			.play-button {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -30px;
				margin-top: -30px;
				pointer-events: none;
				opacity: 1.0;

				-webkit-transition: opacity 0.25s;
			}

			.play-button.loading {
				opacity: 0.45;
				-webkit-animation: pulse-opacity 2.0s;
				-webkit-animation-timing-function: linear;
				-webkit-animation-iteration-count: infinite;
			}

			.play-button img {
				width: 60px;
				height: 60px;
				display: block;
				pointer-events: none;
			}

			.playing .play-button {
				opacity: 0.0;
			}
			
			/**** Isotope Filtering ****/

			.isotope-item {
				z-index: 2;
			}

			.isotope-hidden.isotope-item {
				pointer-events: none;
				z-index: 1;
			}

			/**** Isotope CSS3 transitions ****/

			.isotope,
			.isotope .isotope-item {
				-webkit-transition-duration: 0.8s;
				-moz-transition-duration: 0.8s;
				-ms-transition-duration: 0.8s;
				-o-transition-duration: 0.8s;
				transition-duration: 0.8s;
			}

			.isotope {
				-webkit-transition-property: height, width;
				-moz-transition-property: height, width;
				-ms-transition-property: height, width;
				-o-transition-property: height, width;
				transition-property: height, width;
			}

			.isotope .isotope-item {
				-webkit-transition-property: -webkit-transform, opacity;
				-moz-transition-property:    -moz-transform, opacity;
				-ms-transition-property:     -ms-transform, opacity;
				-o-transition-property:      -o-transform, opacity;
				transition-property:         transform, opacity;
			}

			/**** disabling Isotope CSS3 transitions ****/

			.isotope.no-transition,
			.isotope.no-transition .isotope-item,
			.isotope .isotope-item.no-transition {
				-webkit-transition-duration: 0s;
				-moz-transition-duration: 0s;
				-ms-transition-duration: 0s;
				-o-transition-duration: 0s;
				transition-duration: 0s;
			}
	
	body(style="background-color: transparent;")
		block content
